.header
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 50px 0
  z-index: 10
  +transition
  +r(767)
    padding: 30px 0
  +r(480)
    padding: 15px 0
  &.fixed
    padding: 20px 0
    background-color: #fff
    color: $cod-gray
    box-shadow: 0 0 10px rgba($cod-gray, 0.1)
    +r(480)
      padding: 15px 0
    .header
      &__nav
        .nav-list
          a
            color: inherit
      &__logo
        .logo__img
          display: none
          &-fixed
            display: inline
    .nav-toggle
      &__line
        background-color: $cod-gray
        &::before, &::after
          background-color: $cod-gray
  .container
    display: flex
    align-items: center
  &__logo
    margin-right: 430px
    +r(1439)
      margin-right: 200px
    +r(1200)
      margin-right: 80px
    +r(992)
      max-width: 250px
  &__nav
    margin-right: 20px