extends template/main

block variables
  - var title = 'Blog'
  - var pageClass = 'sdfs'
  - var headerClass = 'header--inner'

block content
  include pages/blog/top
  include pages/blog/blog
  //- include pages/index/advantages
  //- include pages/index/product
  //- include pages/index/how-work
  //- include pages/index/discount
  //- include pages/index/about
  //- include pages/index/faq
  //- include pages/index/s-blog
  //- include pages/index/contact