extends template/main

block variables
  - var title = 'Home'
  - var pageClass = ''

block content
  include pages/index/hero
  include pages/index/advantages
  include pages/index/product
  include pages/index/how-work