extends template/main

block variables
  - var title = 'Privacy Policy'
  - var pageClass = ''
  - var headerClass = 'header--inner'

block content
  include pages/blog/top
  include pages/privacy/privacy