extends template/main

block variables
  - var title = 'Term and conditions'
  - var pageClass = ''
  - var headerClass = 'header--inner'

block content
  include pages/blog/top
  include pages/term/term