section.blog
  .container
    .page-head
      h1.page-title Blog
      a(href="#") Back to Home

    .s-blog-list.row
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more

    .row
      .col-xl-11.col-lg-12
        .banner
          h2.section-title Get exclusive discounts!
          .section-desc Add your email to our list and be first to know about discounts and new product launches. We respect your 
            a(href="#") privacy.
          form.form
            .form-group
              input(type="email", name="email", placeholder="Email address", required).form__field
            .form-group.form-group--btn
              button(type="submit").btn.btn--white.form__btn Join

    .s-blog-list.row
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more
      .s-blog-list__item.col-xl-5.col-lg-6.col-md-12
        time.s-blog-list__time 2018.12.19
        h3.s-blog-list__title
          a(href="#") Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="#").s-blog-list__link read more

    .blog__bottom.col-xl-10.col-md-12
      .pagination
        a(href="#").pagination__link.pagination__link--prev ← Prev
        span.pagination__link.pagination__link--current 1
        a(href="#").pagination__link 2
        a(href="#").pagination__link 3
        a(href="#").pagination__link.pagination__link--next Next →

// /.blog