.modal-product.modal#modal-product
  button.modal__close.modal-product_close.modal-product__close

  .modal-product__container
    .modal-product__top
      .modal-product__head
        h2.modal-product__title CBD products
        a(href="#").modal-product__back Back to home
      .modal-product__step-wrap
        p.modal-product__step Step <span class="modal-product__current">1</span> of <span class="modal-product__all">3</span>
        p.modal-product__label Select flavor

    .modal-product__wrap

      .modal-product__steps.modal-product__steps--1
        .modal-product__list.row
          .modal-product__item.modal-product__item--vanilla.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                img(src="static/images/content/product-1.png", alt="")
              p.modal-product__list-title Pure CBD oil mixed with MCT oil and organic <strong>Vanilla extract</strong>
              a(href="#", data-id="vanilla").btn Buy
          .modal-product__item.modal-product__item--peppermint.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                img(src="static/images/content/product-2.png", alt="")
              p.modal-product__list-title Pure CBD oil mixed with MCT oil and organic <strong>Peppermint extract</strong>
              a(href="#", data-id="peppermint").btn Buy
          .modal-product__item.modal-product__item--green-tea.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                img(src="static/images/content/product-3.png", alt="")
              p.modal-product__list-title Pure CBD oil mixed with MCT oil and organic <strong>Green Tea extract</strong>
              a(href="#", data-id="green-tea").btn Buy

      .modal-product__steps.modal-product__steps--2
        .modal-product__list.row#vanilla
          .modal-product__item.modal-product__item--vanilla.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 500 mg
                img(src="static/images/content/product-1.png", alt="")
              p.modal-product__list-title 500mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="vanilla-500").btn Buy
          .modal-product__item.modal-product__item--vanilla.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 750 mg
                img(src="static/images/content/product-1.png", alt="")
              p.modal-product__list-title 750mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="vanilla-750").btn Buy

        .modal-product__list.row#peppermint
          .modal-product__item.modal-product__item--peppermint.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 500 mg
                img(src="static/images/content/product-2.png", alt="")
              p.modal-product__list-title 500mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="peppermint-500").btn Buy
          .modal-product__item.modal-product__item--peppermint.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 750 mg
                img(src="static/images/content/product-2.png", alt="")
              p.modal-product__list-title 750mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="peppermint-750").btn Buy

        .modal-product__list.row#green-tea
          .modal-product__item.modal-product__item--green-tea.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 500 mg
                img(src="static/images/content/product-3.png", alt="")
              p.modal-product__list-title 500mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="green-tea-500").btn Buy
          .modal-product__item.modal-product__item--green-tea.col-lg-4.col-md-6
            .modal-product__inner
              .modal-product__img-wrap
                .modal-product__size 750 mg
                img(src="static/images/content/product-3.png", alt="")
              p.modal-product__list-title 750mg of CBD oil per 30ml bottle, zero THC
              a(href="#", data-id="green-tea-750").btn Buy

      .modal-product__steps.modal-product__steps--3
        .modal-product__content-wrap.row#vanilla-500
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Vanilla extract. <br>500mg of CBD oil per 30ml bottle, zero THC.

              p Looking for a way to relax your life and not have to deal with the process of smoking? Look no further! This pure CBD oil comes in tincture form making it easier than ever to better your health and enjoy a relaxed feeling that lasts.
              p
                strong This CBD line:
              ul
                li radiates the scent and taste of pure vanilla, allowing you to not only feel better but also enjoy the CBD as you take it.
                li If you're not a huge fan of the "high" feeling that comes from pure marijuana, this CBD will be perfect for you, as it has zero THC in it’s make up!
                li comes in a 500mg measure so that each bottle promises to last

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store

        .modal-product__content-wrap.row#vanilla-750
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Vanilla extract. <br>750mg of CBD oil per 30ml bottle, zero THC.

              p With our second line of CBD oil, prepare to feel a silky smooth feeling while still functioning regularly throughout the day.
              p
                strong This CBD line:
              ul
                li comes in 700mg tinctures which make it easy to consume wherever you may be
                li has the wonderful taste of vanilla which makes the CBD experience feel like a treat rather than a chore
                li contains zero THC which helps you both relax yet keeps you alert enough to be active
              p Along with all of all these great benefits, CBD oil like this can be used for improving headaches, cramps, and even helping metabolism!

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store

        .modal-product__content-wrap.row#peppermint-500
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Peppermint extract. <br>500mg of CBD oil per 30ml bottle, zero THC.

              p Looking for an instant getaway from all of your problems? While we may not be able to take you on vacation, we can offer you a peace of mind with our CBD oil.
              p
                strong This CBD line:
              ul
                li comes in 500mg tinctures which make it easy to consume wherever you may be
                li is mixed with MCT oils which help support your gut lining with good bacteria and can help you lose weight
                li contains hint of peppermint to not only give it a pleasant smell and taste but can also assist with headaches, immune health, and nausea!
              p This oil might be the exact product your body has been looking for, and not only due to all of these benefits but also it’s healthy and organic make up.

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store

        .modal-product__content-wrap.row#peppermint-750
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Peppermint extract. <br>750mg of CBD oil per 30ml bottle, zero THC.

              p If you're looking for a way to both ease daily pains and relax yourself at the same time, then look no further.
              p
                strong This CBD line:
              ul
                li comes in 700mg tinctures which make it easy to consume wherever you may be
                li is mixed with MCT oils which help support your gut lining with good bacteria and can help you lose weight
                li contains hint of peppermint to not only give it a pleasant smell and taste but can also assist with headaches, immune health, and nausea!
              p This oil might be the exact product your body has been looking for, and not only due to all of these benefits but also to it’s healthy and organic make up.

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store

        .modal-product__content-wrap.row#green-tea-500
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Green Tea extract. <br>500mg of CBD oil per 30ml bottle, zero THC.

              p Have you been searching for peace and serenity? This CBD oil can help you get some peace and quiet as it works to heal and relax your body.
              p
                strong This CBD line:
              ul
                li comes in 500mg tinctures which make it easy to consume wherever you may be
                li is mixed with MCT oils which help support your gut lining with good bacteria and can help you lose weight
                li contains green tea extract which can help you due to its antioxidant properties that work to help with hearth health, brain function, relaxation, and even exercise performance
              p This CBD oil can be the change your stressful lifestyle has been waiting for.

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store

        .modal-product__content-wrap.row#green-tea-750
          .col-lg-4.col-md-5
            .modal-product__content-img-wrap
              img(src="static/images/content/modal-product-green-tea-750.png", alt="")
          .col-lg-8.col-md-7
            .modal-product__content
              h3 Pure CBD oil mixed with MCT oil and organic Peppermint extract. <br>700mg of CBD oil per 30ml bottle, zero THC.

              p Looking for an instant getaway from all of your problems? While we may not be able to take you on vacation, we can offer you a peace of mind with our CBD oil. 
              p
                strong This CBD line:
              ul
                li comes in 700mg tinctures which make it easy to consume wherever you may be
                li is mixed with MCT oils which help support your gut lining with good bacteria and can help you lose weight
                li contains hint of peppermint to not only give it a pleasant smell and taste but can also assist with headaches, immune health, and nausea!
              p This oil might be the exact product your body has been looking for, and not only due to all of these benefits but also it’s healthy and organic make up.

              a(href="#").btn Buy

            .modal-product__content-bottom
              p Clicking on the button will take you to the <a href="#">Amazon</a> store