section.about
  .container
    .row
      .col-lg-5.col-xl-7
        .about__img-wrap
          img(src="static/images/content/about.png", alt="")
      .col-lg-7.col-xl-5
        h2.section-title About us
        .about__content
          p We are two musicians who moved to the USA in spite of one shared dream, to achieve fame and stardom in the competitive field of the music industry. The reality turned out to be that along with endless musical castings and auditions, there was an urgent need to earn money in order to pay the bills. Unfortunately, it was impossible to combine these things, so we therefore decided to start our own company.
          p From there, we were faced with a completely new field of work. The main change was the sudden search for a unique and fresh business idea. After doing some research, it became clear to us that the investment required for even the smallest business venture would be too expensive for us.
        a(href="#") read more


// /.about