section.advantages#advantages
  .container
    h2(data-aos="fade-up").section-title What is CBD
    .section-desc(data-aos="fade-up")
      p You’ve heard, that CBD is new miracle of 21st century and that it has a lot of benefits. We are here to tell you all about it and explain, why physical and online stores are selling out so fast!
      p
        a(href="#") Discover our blog for more details

    .advantages__list
      .advantages__list-item(data-aos="fade-left")
        .advantages__list-icon
          img(src="static/images/content/adv-1.svg", alt="")
          .advantages__list-circle
            .advantages__list-circle-inner
        .advantages__list-content
          h3 CBD can be used to relieve pain
          p What this mainly targets is headaches, body aches, migraines, and can even help reduce pain of acne or other skin eczema, by interacting with receptors in the brain.
          a(href="#") learn more
      .advantages__list-item(data-aos="fade-right")
        .advantages__list-icon
          img(src="static/images/content/adv-2.svg", alt="")
          .advantages__list-circle
            .advantages__list-circle-inner
        .advantages__list-content
          h3 CBD can help ease anxiety
          p Anxiety can occur from panic attacks, social situations, and obsessive-compulsive disorders.
          a(href="#") learn more
      .advantages__list-item(data-aos="fade-left")
        .advantages__list-icon
          img(src="static/images/content/adv-3.svg", alt="")
          .advantages__list-circle
            .advantages__list-circle-inner
        .advantages__list-content
          h3 CBD can help with sleep
          p If you’re having a hard time falling or staying asleep, then using CBD before bed will be of great use to you.
          a(href="#") learn more

    .advantages__bottom
      p Download e-book for free <br>
        strong “7 benefits of CBD” below “What is CBD?”
      a(href="#").btn I want it

// /.advantages