section.discount
  .container
    h2.section-title Get 20% off cart value
    .section-desc
      p enter your email to get the discount code

    form.form
      .form-group
        input(type="email", name="email", placeholder="Email address", required).form__field
      .form-group.form-group--btn
        button(type="submit").btn.btn--white.form__btn Join

    p.discount__privacy We respect your 
      a(href="#") privacy.

// /.discount