section.faq#faq
  .container
    h2.section-title Frequently asked questions <br>from our customers

    .faq-list.row
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .faq-list__item.col-lg-6
        .faq-list__inner
          img(src="static/images/general/help.svg", width="48" alt="").faq-list__icon
          h3.faq-list__title Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// /.faq