section(style="background-image: url('static/images/content/hero-bg.jpg')").hero
  .container
    .hero__content
      h1(data-aos="fade-up") Organic <br><strong>CBD oil</strong>
      a(href="#", data-aos="fade-up", data-aos-delay="500").btn.btn--purple Choose dosage and flavor

// /.hero