section(style="background-image: url('static/images/content/hero-bg.jpg')").hero
  .container
    .hero__content
      h1(data-aos="fade-up") Organic <br><strong>CBD oil</strong>
      a(href="#", data-aos="fade-up", data-aos-delay="500").btn.btn--purple.modal-product_open Choose dosage and flavor
    .scene-wrap
      .scene#scene
        .scene__item.scene__item--1(data-depth="0.0")
        .scene__item.scene__item--2(data-depth="0.2")
          img(src="static/images/general/bubble-1.png", alt="")
        .scene__item.scene__item--3(data-depth="0.4")
          img(src="static/images/general/bubble-2.png", alt="")
        .scene__item.scene__item--4(data-depth="-0.2")
          img(src="static/images/general/bubble-3.png", alt="")
        .scene__item.scene__item--5(data-depth="0.3")
          img(src="static/images/general/bubble-4.png", alt="")
        .scene__item.scene__item--6(data-depth="0.1")
          img(src="static/images/general/bubble-5.png", alt="")
        .scene__item.scene__item--7(data-depth="-0.1")
          img(src="static/images/general/bubble-6.png", alt="")

// /.hero