section(style="background-image: url('static/images/content/hero-bg.jpg')").hero
  .container
    .hero__content
      h1 Organic <br><strong>CBD oil</strong>
      a(href="#").btn.btn--purple Choose dosage and flavor

// /.hero