section.how-work#how-work
  .container
    h2.section-title How it works
    .section-desc
      p Which <a href="#">button</a> you need to click on?
    .how-work__content
      .how-work__img-wrap
        img(src="static/images/content/how-work.png", alt="")
      .how-work__steps
        .how-work__steps-item
          +icon('like', 'how-work__steps-icon')
          p.how-work__steps-title Choose right extract
        .how-work__steps-item
          +icon('change', 'how-work__steps-icon')
          p.how-work__steps-title 30-days money-back guarantee
        .how-work__steps-item
          +icon('delivery', 'how-work__steps-icon how-work__steps-icon--delivery')
          p.how-work__steps-title Fast delivery
        .how-work__steps-item
          +icon('drop', 'how-work__steps-icon how-work__steps-icon--drop')
          p.how-work__steps-title Enjoy

// /.how-work