section.product#product
  .container
    h2(data-aos="fade-up").section-title CBD products

    .product-list
      .product-list__item.row.align-items-center
        .col-lg-6.col-md-5(data-aos="fade-left")
          .product-list__img-wrap
            img(src="static/images/content/product-1.png", alt="")
        .col-lg-6.col-md-7(data-aos="fade-right")
          .product-list__head
            h3.product-list__title Vanilla
            p.product-list__size
              span.product-list__size-first 500
              span.product-list__size-divider /
              span.product-list__size-second 750 mg
          .product-list__content
            p Looking for a way to relax your life and not have to deal with the process of smoking? Look no further! This pure CBD oil comes in tincture form making it easier than ever to better your health and enjoy a relaxed feeling that lasts.
            a(href="#").btn Buy
      .product-list__item.row.align-items-center
        .col-lg-6.col-md-5(data-aos="fade-right")
          .product-list__img-wrap
            img(src="static/images/content/product-2.png", alt="")
        .col-lg-6.col-md-7(data-aos="fade-left")
          .product-list__head
            h3.product-list__title Mint
            p.product-list__size
              span.product-list__size-first 500
              span.product-list__size-divider /
              span.product-list__size-second 750 mg
          .product-list__content
            p Looking for an instant getaway from all of your problems? While we may not be able to take you on vacation, we can offer you a peace of mind with our CBD oil.
            a(href="#").btn Buy
      .product-list__item.row.align-items-center
        .col-lg-6.col-md-5(data-aos="fade-left")
          .product-list__img-wrap
            img(src="static/images/content/product-3.png", alt="")
        .col-lg-6.col-md-7(data-aos="fade-right")
          .product-list__head
            h3.product-list__title Green Tea
            p.product-list__size
              span.product-list__size-first 500
              span.product-list__size-divider /
              span.product-list__size-second 750 mg
          .product-list__content
            p Just like our other CBD oils, this one is tailored to make the user feel relief and a sense of relaxation when consuming it. From being able to help with skin conditions, body aches, sleeping problems, and more, this CBD oil’s uses are endless.
            a(href="#").btn Buy

// /.product