section.s-blog
  .container
    h2.section-title Looking for more <br>information on CBD Oil?
    .section-desc
      a(href="#") Our blog will help you

    .row
      .s-blog-list.col-xl-5.col-lg-6
        .s-blog-list__item
          time.s-blog-list__time 2018.12.19
          h3.s-blog-list__title
            a(href="#") Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="#").s-blog-list__link read more
        .s-blog-list__item
          time.s-blog-list__time 2018.12.17
          h3.s-blog-list__title
            a(href="#") Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="#").s-blog-list__link read more

      .s-blog__img-wrap.col-xl-7.col-lg-6
        img(src="static/images/general/s-blog.png", alt="")

// /.s-blog