header(class=headerClass).header
  .container
    a(href="./").logo.header__logo
      img(src="static/images/general/logo.svg", width="330", alt="").logo__img
      img(src="static/images/general/logo-black.svg", width="330", alt="").logo__img-fixed
    .nav.header__nav
      ul.nav-list
        li
          a(href="#advantages") What is CBD
        li
          a(href="#product") Products
        li
          a(href="#about") About us
    button.nav-toggle
      span.nav-toggle__line
    .mobile-menu
      ul.mobile-menu__nav
        li
          a(href="#how-work") How it works
        li
          a(href="#faq") FAQ
        li
          a(href="#") Blog
        li
          a(href="#contact") Contacts